.centered { text-align: center; }

 // Colors
.color-primary { color: $color-primary-0; }

.color-gray { color: $very-dark-gray; }
.color-light-gray { color: $light-gray; }
.color-white { color: $very-light-gray; }

.background-color-primary { background-color: $color-primary-3; }

.background-color-gray { background-color: $very-dark-gray; }
.background-color-light-gray { background-color: $light-gray; }
.background-color-white { background-color: $white; }

.shadow-gray { text-shadow: 0 0 1px $very-dark-gray; }

.shadow-light-gray { text-shadow: 0 0 1px $light-gray; }
