// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF */

// Feel free to copy&paste color codes to your application */

// As hex codes */
$color-primary-0: #AA3939;  // Main Primary color */
$color-primary-1: #FFAAAA;
$color-primary-2: #D46A6A;
$color-primary-3: #801515;
$color-primary-4: #550000;

$white: #EEEEEE;
$very-light-gray: #D0D0D0;
$light-gray: #C0C0C0;
$dark-gray: #444444;
$very-dark-gray: #222222;
$black: #111111;
